@{
    ViewBag.Title = "Add Person";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Tack för att du lade till en person!</p>
<p>Use this area to provide additional information.</p>

@*<form method="POST" action="home">
    <input type="text" />
    <input type="submit" />
</form>*@

